<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">


    <aop:aspectj-autoproxy />

    <bean id="customer" class="com.spring.boot.service.CustomerBoImpl" />

    <bean id="logAspect" class="com.spring.boot.aop.LoggingAspect" />

    <bean id="operation" class="aop.with.different.pointcuts.OperationImpl"/>

    <bean id="aspectBean" class="aop.with.different.pointcuts.TrackOperationAspect" />

    <!--<bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" />-->


</beans>